.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;

  input,
  button {
    font-size: 2rem;
    padding: 0.5rem;
    border: 3px solid lightblue;
  }
  input {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
  }
  button {
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    background-color: lightblue;
    cursor: pointer;
  }
}
